html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}





body {
    font-size: 16px;
    height: 100%;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    background: radial-gradient(#ff709a, #FFDBE9);
    color: #e75480;
    font-family: 'Sniglet', cursive;
    text-align: center;
    display: block;
} 


#madLib {
    font-family: 'Sniglet', cursive;
    
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

 .fancy{
    background: #fac0d5;
    color: #e75480;
    text-align: center;
    padding: 20px;
    box-shadow: -5px 5px 5px #53000e;
    width: 400px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 30%;
}